
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<div class="input" align="center">
    <h1>당신의 밴드 이름은?</h1>
    <form action = "/home/result" method="post">
        이름: <input type="text" name="name"><br>
        생년월일: <input type="text" name="birth"><br>
        <input type="submit" value="확인">
    </form>
</div>
